<!DOCTYPE html>
<html lang="en">
<head>
    <title>catpl demo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script src="../src/catpl.js"></script>
</head>
<body>
<img src="../catpl.png">
<div id="content"></div>

<script id="test" type="text/html">
<h2>{{title}}</h2>
<ul>
    {{foreach sports.list as v k}}
        <li {{if !v.show}}style='color:#ccc;'{{/if}}>{{k}} - {{v.name}}</li>
    {{/foreach}}
</ul>
<div>
{{if flag===1}}flag为1{{else if flag ===2}}flag为2{{else}}flag没有值{{/if}}
</div>
</script>

<script>
    var data = {
        title: '你喜爱的运动',
        sports: {
            list: [
                {name: '篮球', show: true},
                {name: '足球', show: true},
                {name: '滑冰', show: true},
                {name: '骑马', show: false}
            ]
        },
        flag:3
    };

    var engine = catpl('test');
    var html = engine(data);
    document.getElementById('content').innerHTML = html;
</script>
</body>
</html>